## 2-3. データの全体概要をチェックする

In [12]:
import pandas as pd
import numpy as np

In [2]:
def load_excel_file_into_data_frame(sheet, skiprows, cols):
    # skiprows:先頭の何行を読み込まないかを指定する引数
    # skip_footer:最後の何行を読み込まないか指定する引数
    # usecols:読み込む列を指定
    df = xls.parse(sheet,
                            skiprows = skiprows,
                            usecols = cols
                  )
    # 全ての行がNaNの行を削除
    df = df.dropna(how='all')
    return df

FILE_NAME = 'ワーク用データ.xlsx'
xls = pd.ExcelFile('../data/' + FILE_NAME)

# アンケートのデータを読み込み
survey_df = load_excel_file_into_data_frame(
    sheet='商品データ',
    skiprows = 3,
    cols = "B:J")

# 来店客数のデータを読み込み
visit_df = load_excel_file_into_data_frame(
    sheet='商品データ',
    skiprows = 4,
    cols = "L:Q")

# 商品情報のデータを読み込み
item_df = load_excel_file_into_data_frame(
    sheet='商品データ',
    skiprows = 3,
    cols = "S:V")
# 不要なデータ（店舗情報）が混じっているため、必要なデータのみを抽出
item_df = item_df.iloc[0:3, :]

# 店舗情報のデータを読み込み
store_df = load_excel_file_into_data_frame(
    sheet='商品データ',
    skiprows = 9,
    cols = "S:V")

In [3]:
survey_df.shape

(500, 9)

In [4]:
visit_df.shape

(8, 6)

In [5]:
item_df.shape

(3, 4)

In [6]:
store_df.shape

(3, 4)

In [7]:
survey_df.describe()

,回答者番号,性別\n（１男性、 ２女性）,年齢,↑\n年齢層\n,値ごろ感\n（１安い-５高い）,デザイン評価\n（１悪い-５良い）,購入意向\n（1買いたい-５買いたくない）
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,250.500000,1.484000,31.936000,2.764000,3.014000,2.568000,3.014000
std,144.481833,0.500244,14.404127,1.404368,0.736811,0.859566,1.095538
min,1.000000,1.000000,11.000000,1.000000,2.000000,1.000000,1.000000
25%,125.750000,1.000000,20.000000,2.000000,2.000000,2.000000,2.000000
50%,250.500000,1.000000,30.000000,3.000000,3.000000,3.000000,3.000000
75%,375.250000,2.000000,41.000000,4.000000,4.000000,3.000000,4.000000
max,500.000000,2.000000,60.000000,5.000000,4.000000,4.000000,5.000000

### 2-3. 欠損値のチェック

#### ポイント
- 欠損値はNaNかどうかはisna()またはisnull()で判定できる
- ただし、空白が入っている場合はNaNにはならないので、replaceでNaNに明示的に変換してあげる

In [8]:
# データの読み込み
power_df = load_excel_file_into_data_frame(
    sheet='発電機データ',
    skiprows=4,
    cols = "B:E")
power_df.describe()

                         日時  1号機  2号機  3号機
count                   793  596  552  602
unique                  793  588  493  595
top     2013-07-03 08:50:00
freq                      1    9   60    8
first   2013-07-01 00:00:00  NaN  NaN  NaN
last    2013-07-06 12:00:00  NaN  NaN  NaN

In [9]:
# 項目ごとの欠損値の数を求める
power_df.isna().sum()

# 上記と同じ
# power_df.isnull().sum()

日時       0
1号機    197
2号機    241
3号機    191
dtype: int64

In [15]:
# 空白のみが含まれているデータをnp.nanに変換
print(power_df.replace(r'^\s*$', np.nan, regex=True).isna().sum())

日時       0
1号機    206
2号機    301
3号機    199
dtype: int64

In [17]:
# 欠損値の総数
print(power_df.replace(r'^\s*$', np.nan, regex=True).isna().sum().sum())

706

### 2-4. 外れ値のチェック