In [1]:
import pandas as pd
import numpy as np

# 可視化
import seaborn as sns
from matplotlib import pyplot as plt
import matplotlib

sns.set(context="notebook",
        font="Hiragino Maru Gothic Pro")


pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 500)

def load_excel_file_into_data_frame(sheet, skiprows, cols):
    # skiprows:先頭の何行を読み込まないかを指定する引数
    # skip_footer:最後の何行を読み込まないか指定する引数
    # usecols:読み込む列を指定
    df = xls.parse(sheet,
                            skiprows = skiprows,
                            usecols = cols
                  )
    # 全ての行がNaNの行を削除
    df = df.dropna(how='all')
    return df

### ワーク5-1 標準偏差と意思決定

In [2]:
FILE_NAME = 'ワーク用データ.xlsx'
xls = pd.ExcelFile('../data/' + FILE_NAME)
df = load_excel_file_into_data_frame('投資判断', skiprows=3, cols='B:D')

In [3]:
df.head()

       年        株A        株B
0  2003年  0.008535  0.102880
1  2004年  0.009679  0.226369
2  2005年  0.004453 -0.135078
3  2006年  0.002527  0.303082
4  2007年  0.019436 -0.006103

In [4]:
print('株Aのリターン', df['株A'].mean() * 100)

df['株B'].mean() * 100

株Aのリターン 1.1651318395705523

15.012052293335163

In [5]:
df['株A'].std() * 100

1.016662126500136

In [6]:
df['株B'].std() * 100

17.697323702640567

### 外れ値を客観的な基準で特定する

In [7]:
df = load_excel_file_into_data_frame('店舗業績3', skiprows=3, cols='C:H')

In [8]:
df.head()

   店舗番号 店舗形態  立地（１：郊外、２：都心）      売り上げ(円/日）  来客数(人/日)     客単価(円/人)
0     1    Ａ              2   91538.461538     145.0   631.299735
1     2    Ａ              2   93846.153846     141.0   665.575559
2     3    Ａ              1   79230.769231     134.0   591.274397
3     4    Ａ              1   73846.153846     132.0   559.440559
4     5    Ａ              1  118461.538462      87.0  1361.626879

In [9]:
df.describe()

            店舗番号  立地（１：郊外、２：都心）      売り上げ(円/日）    来客数(人/日)      客単価(円/人)
count  51.000000      51.000000      51.000000   50.000000     50.000000
mean   26.000000       1.470588   78310.708899  111.520000    876.315627
std    14.866069       0.504101   37533.107944   27.151307   1434.723804
min     1.000000       1.000000   12307.692308   30.000000     88.544549
25%    13.500000       1.000000   67307.692308   90.000000    559.995560
50%    26.000000       1.000000   73846.153846  100.000000    668.383556
75%    38.500000       2.000000   79615.384615  138.250000    775.862069
max    51.000000       2.000000  322307.692308  159.000000  10743.589744

In [10]:
df[df['来客数(人/日)'].isnull()]

    店舗番号 店舗形態  立地（１：郊外、２：都心）     売り上げ(円/日）  来客数(人/日)  客単価(円/人)
19    20    Ｂ              1  73846.153846       NaN       NaN

In [11]:
def sample(x):
    return x


df[['売り上げ(円/日）', '来客数(人/日)', '客単価(円/人)']].agg(['sum', 'mean', 'min', 'max', 'std']).T

,sum,mean,min,max,std
売り上げ(円/日）,3.993846e+06,78310.708899,12307.692308,322307.692308,37533.107944
来客数(人/日),5.576000e+03,111.520000,30.000000,159.000000,27.151307
客単価(円/人),4.381578e+04,876.315627,88.544549,10743.589744,1434.723804

In [12]:
df_sample = pd.DataFrame(np.random.randn(100, 3), columns=list('ABC'))

In [13]:
df_sample.shape

(100, 3)

In [14]:
df_sample.agg(['sum', 'mean', 'min', 'max', 'std'])

              A         B         C
sum  -18.529943  4.206821  4.472247
mean  -0.185299  0.042068  0.044722
min   -2.746064 -2.192341 -2.867760
max    2.082633  2.979322  3.197813
std    1.024335  0.862250  1.118347

In [15]:
df_sample[df_sample.apply(lambda x: np.abs(x - x.mean()) / x.std() < 3).all(axis=1)].shape

(99, 3)

In [16]:
df_sample[~df_sample.apply(lambda x: np.abs(x - x.mean()) / x.std() < 3).all(axis=1)]

           A         B         C
84 -0.351678  2.979322  2.011263

In [19]:
temp_df = df[['売り上げ(円/日）', '来客数(人/日)', '客単価(円/人)']]

In [20]:
temp_df[temp_df.apply(lambda x: np.abs(x - x.mean()) / x.std() < 3).all(axis=1)].shape

(49, 3)

In [21]:
temp_df[~temp_df.apply(lambda x: np.abs(x - x.mean()) / x.std() < 3).all(axis=1)]

        売り上げ(円/日）  来客数(人/日)      客単価(円/人)
19   73846.153846       NaN           NaN
33  322307.692308      30.0  10743.589744

In [ ]:
# 標準偏差



#