## ワーク6.1 差の確からしさの検証

In [1]:
import pandas as pd
import numpy as np

# 可視化
import seaborn as sns
from matplotlib import pyplot as plt
import matplotlib

sns.set(context="notebook",
        font="Hiragino Maru Gothic Pro")


pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 500)

def load_excel_file_into_data_frame(sheet, skiprows, cols):
    # skiprows:先頭の何行を読み込まないかを指定する引数
    # skip_footer:最後の何行を読み込まないか指定する引数
    # usecols:読み込む列を指定
    df = xls.parse(sheet,
                            skiprows = skiprows,
                            usecols = cols
                  )
    # 全ての行がNaNの行を削除
    df = df.dropna(how='all')
    return df

In [4]:
FILE_NAME = 'ワーク用データ.xlsx'
xls = pd.ExcelFile('../data/' + FILE_NAME)
df = load_excel_file_into_data_frame('店舗業績3', skiprows=3, cols='C:H')

In [5]:
df.head()

   店舗番号 店舗形態  立地（１：郊外、２：都心）      売り上げ(円/日）  来客数(人/日)     客単価(円/人)
0     1    Ａ              2   91538.461538     145.0   631.299735
1     2    Ａ              2   93846.153846     141.0   665.575559
2     3    Ａ              1   79230.769231     134.0   591.274397
3     4    Ａ              1   73846.153846     132.0   559.440559
4     5    Ａ              1  118461.538462      87.0  1361.626879

In [10]:
urban = df[df['立地（１：郊外、２：都心）'] == 2]
suburb = df[df['立地（１：郊外、２：都心）'] == 1]

In [13]:
print('都心のサンプル数:', urban.shape)
print('郊外のサンプル数:', suburb.shape)

都心のサンプル数: (24, 6)
郊外のサンプル数: (27, 6)

In [12]:
suburb.head()

   店舗番号 店舗形態  立地（１：郊外、２：都心）      売り上げ(円/日）  来客数(人/日)     客単価(円/人)
2     3    Ａ              1   79230.769231     134.0   591.274397
3     4    Ａ              1   73846.153846     132.0   559.440559
4     5    Ａ              1  118461.538462      87.0  1361.626879
7     8    Ａ              1   68461.538462     102.0   671.191554
8     9    Ａ              1   67692.307692      87.0   778.072502

In [14]:
from scipy import stats

In [15]:
A = urban['売り上げ(円/日）']
B = suburb['売り上げ(円/日）']

stats.ttest_rel(A, B)

ValueError: unequal length arrays